@import 'tailwindcss';
@config '../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@theme {
  /* --- Global Font Family --- */
  --font-poppins: var(--font-poppins), sans-serif;
  --font-sans: var(--font-poppins), sans-serif;

  /* --- Design System: Radius --- */
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* --- Design System: Colors --- */
  /* Neutral */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* Primary */
  --color-primary-100: #a78bfa;
  --color-primary-200: #8b5cf6;
  --color-primary-300: #7c3aed;

  /* Base */
  --color-base-white: #ffffff;
  --color-base-black: #000000;
}

/* Base Style */
body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
}
